<!DOCTYPE html>
<!--
	Strata by HTML5 UP
	html5up.net | @@n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Dylen Smith</title>
		<!-- #region - meta -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="author" content="derry smith" />
		<!-- #endregion -->
		<!-- #region - styles -->
		<link rel="stylesheet" href="@Url.Content("~/components/html5up-strata/assets/css/main.css")" />
		<!--[if lte IE8]><link rel="stylesheet" href="@Url.Content("~/components/html5up-strata/assets/css/ie8.css")" /><![endif]-->
		<!-- #endregion -->
		<!-- #region - scripts -->
		<!--[if lte IE8]><script src="@Url.Content("~/components/html5up-strata/assets/js/ie/html5shiv.js")"></script><![endif]-->
		<!-- #endregion -->
	</head>

	<body id="top">

		<!-- #region - header -->
		<header id="header">
			<a href="#" class="image avatar"><img src="@Url.Content("~/Images/ds.png")" alt="" /></a>
			@*<a href="#" class="image avatar"><img src="https://avatars2.githubusercontent.com/u/700654?v=3&s=460" alt="" /></a>
	<!--https://avatars2.githubusercontent.com/u/700654?v=3&s=460-->
	<h1>
		<strong>I am Strata</strong>, a super simple<br />
		responsive site template freebie<br />
		crafted by <a href="http://html5up.net">HTML5 UP</a>.
	</h1>*@
			<h1>
				<strong>Dylen Smith</strong>: Experienced,<br />
				knowledgeable, &amp; motivated<br />
				quarterback coach.
			</h1>
		</header>
		<!-- #endregion -->

		@RenderBody()

		<!-- #region - footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/dylensmith" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/dylen.smith.3" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.linkedin.com/pub/dylen-smith/b8/15/b49" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				<!--<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
				<li><a href="mailto:dy.smith@hotmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; @System.DateTime.UtcNow.Year.ToString() - Dylen R Smith.</li>
				<li>Design: <a href="http://html5up.net">Strata by HTML5 UP</a></li>
			</ul>
		</footer>
		<!-- #endregion -->

		<!-- Scripts -->
		<script src="@Url.Content("~/components/html5up-strata/assets/js/jquery.min.js")"></script>
		<script src="@Url.Content("~/components/html5up-strata/assets/js/jquery.poptrox.min.js")"></script>
		<script src="@Url.Content("~/components/html5up-strata/assets/js/skel.min.js")"></script>
		<script src="@Url.Content("~/components/html5up-strata/assets/js/util.js")"></script>
		<!--[if lte IE 8]><script src="@Url.Content("~/components/html5up-strata/assets/js/ie/respond.min.js")"></script><![endif]-->
		<script src="@Url.Content("~/components/html5up-strata/assets/js/main.js")"></script>

	</body>
</html>